.loginScreen {
    width: 100vw;
    height: 100vh;
    background-color: #355675;
    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0px;

    & .closeBtn {
        color: white;
        cursor: pointer;
        font-size: 25px;
        float: right;
    }

    & .content {
        width: 100%;
        height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    }
    
    & form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    & form input {
        border: 0;
        outline: 0;
        width: 100%;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 100px;
        padding: 15px 0px;
        color: white;
        font-weight: 300;
    }

    & form input::placeholder {
        color: white;
    }

    & form input[type="submit"] {
        cursor: pointer;
    }

    & form input[type="text"], input[type="password"] {
        padding-left: 12px;
        font-style:italic;
    }
}

.msgBox {
    width: 100%;
    background-color: #102030;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    border-radius: 20px;
    color: white;
    padding: 20px 0px;
    text-align: center;
}