.navbar {
  background-color: var(--blueBackground);
  width: 100%;
  color: var(--white);
  /*   position: sticky;
  top: 0;
  left: 0;
  right: 0; */

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;

  & .navContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  & .navLogo {
    font-size: 30px;
  }

  & .logoImg {
    height: auto;
  }

  & .menuIcon {
    font-size: 25px;
    cursor: pointer;
  }

  & ul {
    display: none;
  }

  & ul li {
    list-style-type: none;
  }

  & ul li a {
    text-decoration: none;
    color: var(--white);
  }

  .iconandlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .mobileMenu {
    display: none;
  }

  .mobileMenu.active .closeIconBtn {
    float: right;
    padding-top: 20px;
    padding-right: 30px;
    color: white;
  }

  .mobileMenu.active {
    background-color: var(--blueBackground);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 80;
  }

  .mobileMenu.active ul {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobileMenu.active ul li {
    width: 100%;
    padding: 20px;

    text-align: center;

    transition: background-color 0.3s;
  }

  .mobileMenu.active ul li:hover {
    background-color: var(--blueHover);
  }
}

/* desktop menu for linksne */
@media (min-width: 1024px) {
  .navbar .logoImg {
    width: 10%;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
  }

  .navbar .menuIcon {
    display: none;
  }

  .navbar ul li {
    padding: 20px 15px;
  }

  .navbar ul li:hover {
    background-color: var(--blueHover);
  }
}

/* dedikeret mobil menu */
@media (max-width: 1024px) {
  .navbar {
    padding: 10px 0px;
  }
  .navbar .logoImg {
    width: 15%;
  }

  .mobileMenu.active {
    display: block;
  }
}

@media (max-width: 600px) {
  .navbar .logoImg {
    width: 30%;
  }
}

.navbar.shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
