@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Square+Peg&display=swap");
/* basic generel css. */
:root {
  --blueBackground: #355675;
  --blueHover: #294259;
  --white: white;

  --lightblue: #d7e6ed;
}

button,
svg,
a,
li {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

h2 {
  font-family: "Square Peg", serif;
  font-weight: 500;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
